@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: none;
}

body{
  width: 100vw;
  height: 100vh;
}


.animated-border-box,
.animated-border-box-glow {
  overflow: hidden;
}
.animated-border-box-glow {
  filter: blur(20px);
}
.animated-border-box::before,
.animated-border-box-glow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 99999px;
  height: 99999px;
  transform: translate(-50%, -50%) rotate(0deg);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #1976ed,
    rgba(0, 0, 0, 0) 25%
  );
  animation: rotate 4s linear infinite;
}
.animated-border-box::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: #292a2e;
  border-radius: 0.5rem;
  z-index: 1;
}
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}